<div class="container home-page">

	<div class="row home-page__item">
		<label class="col-xs-12 col-sm-6 col-md-5"> Mask: 00/00/0000 </label>
		<input mask="99/99/9999" ng-model="date" class="input-lg col-xs-12 col-sm-6 col-md-7"	type="text">
	</div>
	<div class="row home-page__item">
		<label class="col-xs-12 col-sm-6 col-md-5"> Mask: 00:00:00 </label>
		<input mask="00:00:00" ng-model="time" class="input-lg col-xs-12 col-sm-6 col-md-7"	type="text">
	</div>
	<div class="row home-page__item">
		<label class="col-xs-12 col-sm-6 col-md-5"> Mask: 00/00/0000 00:00:00 </label>
		<input mask="00/00/0000 00:00:00" ng-model="dateTime" class="input-lg col-xs-12 col-sm-6 col-md-7"	type="text">
	</div>
	<div class="row home-page__item">
		<label class="col-xs-12 col-sm-6 col-md-5"> Mask: 00000-000 </label>
		<input mask="00000-000" ng-model="cep" class="input-lg col-xs-12 col-sm-6 col-md-7"	type="text">
	</div>
	<div class="row home-page__item">
		<label class="col-xs-12 col-sm-6 col-md-5"> Mask: 0000-0000 </label>
		<input mask="0000-0000" ng-model="phone" class="input-lg col-xs-12 col-sm-6 col-md-7"	type="text">
	</div>
	<div class="row home-page__item">
		<label class="col-xs-12 col-sm-6 col-md-5"> Mask: (00) 0000-0000 </label>
		<input mask="(00) 0000-0000" ng-model="phoneWithDdd" class="input-lg col-xs-12 col-sm-6 col-md-7"	type="text">
	</div>
	<div class="row home-page__item">
		<label class="col-xs-12 col-sm-6 col-md-5"> Mask: (000) 000-0000 </label>
		<input mask="(000) 000-0000" ng-model="phoneUs" class="input-lg col-xs-12 col-sm-6 col-md-7"	type="text">
	</div>
	<div class="row home-page__item">
		<label class="col-xs-12 col-sm-6 col-md-5"> Mask: AAA 000-S0S </label>
		<input mask="AAA 000-S0S" ng-model="mixed" class="input-lg col-xs-12 col-sm-6 col-md-7"	type="text">
	</div>
	<div class="row home-page__item">
		<label class="col-xs-12 col-sm-6 col-md-5"> Mask: 099.099.099.099 </label>
		<input mask="099.099.099.099" ng-model="ipAddress" class="input-lg col-xs-12 col-sm-6 col-md-7"	type="text">
	</div>

</div>